
<h2>Your Adventure Awaits!</h2>
<h2>Start Creating!</h2>

<form action="/login" method="post">
    <input type="email" name="user[email]" placeholder="email"><br>
    <input type="password" name="user[password]" placeholder="password"><br>
    <br>
    <input type="submit" class="btn btn-secondary btn-sm" value="Login">
</form>
<a button type="button" class="btn btn-outline-dark" href="/">Home</a>