<div class="container">
 <!-- <header><img src="images/1.png" class="img-responsive main-image"></header>-->
  <div class="col-md-8 col-md-offset-2">
    <h1>Character Base!</h1>



    <body>

    <h2>Your Adventure is Waiting for You!</h2>

   <h3><a class="button" href="/login">Login</a></h3>
    <h3><a class="button" href="/create_user">Sign Up</a></h3>

    </body>

        <div class="content"></div>
     <p> <h4>Character Base is great for:</h4>
    <ul>
      <li>DM's in a pinch!</li>
      <li>Lazy PC's (no judgement)</li>
      <li>Your friend who is only going to play one week!</li>
      <li>Everyone else!</li>
      </ul></p>
    </div>

    <div class="sidebar">

    Character Class information from <a href="https://en.wikipedia.org/wiki/Character_class_(Dungeons_%26_Dragons)">Wikipedia</a><br>
    Character Race information from <a href=(https://dungeonsdragons.fandom.com/wiki/Race#:~:text=D%26D%203rd%20edition,elf%2C%20and%20half%2Dorc.)>Fandom.com</a>

  </div>
</div>
