<div class="container">
  <header><img src="images/corneal-small.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h1>Character Base!</h1>



    <body>

    <h2>Your Adventure is Waiting for You!</h2>
    
    <a class="button" href="/login">Login</a>
    <a class="button" href="/create_user">Sign Up</a>

    </body>

        <div class="content">
      <p>Welcome!</p>
    </div>

    <div class="sidebar">

    Character Class information from <a href="https://en.wikipedia.org/wiki/Character_class_(Dungeons_%26_Dragons)">Wikipedia</a><br>
    Character Race information from <a href=(https://dungeonsdragons.fandom.com/wiki/Race#:~:text=D%26D%203rd%20edition,elf%2C%20and%20half%2Dorc.)>Fandom.com</a>
    <!--
      <h3>Environment</h3>
      <ul>
        <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
        <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
        <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
        <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
      </ul>
    </div>-->

  </div>
</div>
