<h1>Create New User:</h1>
<h3>Sign Up</h3>
<form action="/create_user" method="POST">
  <p>Email: <input type="email" name="user[email]"></p>
  <p>Password: <input type="password" name="user[password]"></p>
  <input class="btn btn-secondary btn-sm" type="submit" value="Let's Go!">
</form>