<h2>Look At Your Characters! Wow:</h2>

<table>
  <th>Characters:</th>
  <tr>
    <% @characters.each do |character| %>
    <ul>
        <li>
        <td ><a href="/characters/<%= character.id %>"><%= character.name %></a></td>
        <!--Maybe somehow put date created?-->
        </li>
      </ul>
     </tr> </td>
  <% end %>
</table>
<br>

<a class="button" href="characters/new">Create New Character</a>
<a class="button" href="/">Home</a>