<%if @characters.count < 1%>
<h2>No Characters yet! Start creating:</h2>
<%else%>

<h2>Look At Your Characters! Wow:</h2>

<table>
  <th>Characters:</th>
  <tr>
    <% @characters.each do |character| %>
    <ul>
        <li>
        <td ><a href="/characters/<%= character.id %>"><%= character.name %></a>
        (created at: <%=character.created_at%>)</td>
        </li>
      </ul>
     </tr> </td>
  <% end %>
</table>
<%end%>
<br>


<a button type="button" class="btn btn-outline-success" href="/characters/new">Create New Character</a>
<br>
<br>
<a button type="button" class="btn btn-outline-info" href="/">Home</button></a>