<%if @characters.count < 1%>
<h2>No Characters yet, Start creating:</h2>
<%else%>

<h2>Look At Your Characters! Wow:</h2>
<%end%>

<table>
  <th>Characters:</th>
  <tr>
    <% @characters.each do |character| %>
    <ul>
        <li>
        <td ><a href="/characters/<%= character.id %>"><%= character.name %></a></td>
        <!--Maybe somehow put date created?-->
        </li>
      </ul>
     </tr> </td>
  <% end %>
</table>
<br>

<a class="button" href="/characters/new">Create New Character</a>
<a class="button" href="/">Home</a>
<!--<a class="button" href="/logout">Logout</a> -->