<h2>Create A New Character:</h2>

<form action="/characters" method="post">
<b><label>Character Name:</label></b>
<input type="text" id="name" name="character[name]">
<br>
<br>

<b><label>Age:</label></b>
<input type="text" id="age" name="character[age]">
<br>
<br>


<b><label>Class:</label></b>
<br>
<%@classes.each do |class_name|%>
<label for="<%class_name%>"><%=class_name%></label>
<input type="radio" id="class_name" name="character[class_name]" value= "<%=class_name%>">
<%end%>
<br>
<br>

<b><label>Race:</label></b>
<br>
<%@races.each do |race|%>
<label for="<%race%>"><%=race%></label>
<input type="radio" id="race" name="character[race]" value= "<%=race%>">
<%end%>
<br>
<br>


<b><label>Special Abilities:</label></b>
<input type="text" id="race" name="character[special_abilities]">
<br>
<br>

<b><label>Description:</label></b>
<textarea rows="4" cols="50" id="description" name=character[description]>
</textarea><br>
<br>
<br>

  <input type="submit" value="Create New Character">
  <br>
</form>