<h2>Create A New Character:</h2>

<form action="/characters" method="post">
<label>Character Name:</label>
<input type="text" id="name" name="character[name]">
<br>

<label>Age:</label>
<input type="text" id="age" name="character[age]">
<br>

<label>Class:</label>
<br>
<label for="bard">Bard</label>
<input type="checkbox" id="class_name" name="character[class_name]" value="Bard">
<label for="druid">Druid</label>
<input type="checkbox" id="class_name" name="character[class_name]" value="Druid">
<label for="ranger">Ranger</label>
<input type="checkbox" id="class_name" name="character[class_name]" value="Ranger">
<label for="bardbarian">Barbarian</label>
<input type="checkbox" id="class_name" name="character[class_name]" value="Barbarian">
<label for="cleric">Cleric</label>
<input type="checkbox" id="class_name" name="character[class_name]" value="Cleric">
<label for="fighter">Fighter</label>
<input type="checkbox" id="class_name" name="character[class_name]" value="Fighter">
<label for="rogue">Rogue</label>
<input type="checkbox" id="class_name" name="character[class_name]" value="Rogue">
<label for="wizard">Wizard</label>
<input type="checkbox" id="class_name" name="character[class_name]" value="Wizard">
<label for="monk">Monk</label>
<input type="checkbox" id="class_name" name="character[class_name]" value="Monk">
<label for="warlock">Warlock</label>
<input type="checkbox" id="class_name" name="character[class_name]" value="Warlock">
<label for="sorcerer">Sorcerer</label>
<input type="checkbox" id="class_name" name="character[class_name]" value="Sorcerer">




  <input type="submit" value="Create New Character">
</form>