<h2>Create A New Character:</h2>

<form action="/characters" method="post">
<label>Character Name:</label>
<input type="text" id="name" name="character[name]">
<br>
<br>

<label>Age:</label>
<input type="text" id="age" name="character[age]">
<br>
<br>


<label>Class:</label>
<br>
<%@classes.each do |class_name|%>
<label for="<%class_name%>"><%=class_name%></label>
<input type="checkbox" id="class_name" name="character[class_name]" value= "<%=class_name%>">
<%end%>
<!--
<div class="dropdown">
<span><label for="bard">Bard</label></span>
<input type="checkbox" id="class_name" name="character[class_name]" value="Bard">
  <div class="dropdown-content">
    <p>The "look at me girl" in all of us</p>
    </div>
</div>

-->


<!--Don't understand formatting

  <div class="dropdown-content">
    <p>Probz the best</p>
    </div>
</div>

-->
<br><br>

<label>Race:</label>
<br>
<%@races.each do |race|%>
<label for="<%race%>"><%=race%></label>
<input type="checkbox" id="race" name="character[race]" value= "<%=race%>">
<%end%>
<br>
<br>


<label>Special Abilities:</label>
<input type="text" id="race" name="character[special_abilities]">
<br><br>

<label>Description:</label>
<textarea id="description" name=character[description]>
</textarea><br>
<br><br>

  <input type="submit" value="Create New Character">
  <br>
</form>