<h2>Create A New Character:</h2>

<form action="/characters" method="post">
<label>Character Name:</label>
<input type="text" id="name" name="character[name]">
<br>

<label>Age:</label>
<input type="text" id="age" name="character[age]">
<br>

<label>Class:</label>
<br>
<label for="bard">Bard</label>
<input type="checkbox" id="class_name" name="character[class_name]" value="Bard">
<label for="bard">Druid</label>
<input type="checkbox" id="class_name" name="character[class_name]" value="Druid">
<label for="bard">Ranger</label>
<input type="checkbox" id="class_name" name="character[class_name]" value="Ranger">



  <input type="submit" value="Create New Character">
</form>