<h2>Create A New Character:</h2>

<form action="/characters" method="post">
<label>Character Name:</label>
<input type="text" id="name" name="character[name]">

<label>Age:</label>
<input type="text" id="age" name="character[age]">

<label>Class:</label>
<input type="checkbox" id="class" name="character[class]" value="Bard">
<input type="checkbox" id="class" name="character[class]" value="Druid">
<input type="checkbox" id="class" name="character[class]" value="Ranger">

  <input type="submit" value="Create New Character">
</form>