<h2>One Specific Character:</h2>

<h4>Character Name: <%=@character.name%>

<br>
<br>
<br>
<a class="button" href="/characters/<%=@character.id%>/edit">Edit This Character</a>
<br>
<br>
<a class="button" href="/characters/new">Create New Character</a>
<br>
<br>
<a class="button" href="/characters">View All Characters</a>
<br>
<br>
<a class="button" href="/">Home</a>